<h1>Welcome</h1>
<p>Welcome to Storybooks 1.0.0</p>
<p>Post stories here. Decide to make them public or completely private as your own personal diary. Yes or no. </p>
{{#if user}}
{{else}}
<a href="/auth/google" class="btn red darken-1"><i class="fab fa-google left"></i> Login with Google</a>
{{/if}}
